doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title Forecast
    link(rel='stylesheet', href='/style.css')
  body
    #main
      #city
      #current
      #temperature
    table#forecast
      tbody
    script(src='/vendor/jquery/dist/jquery.js')
    script(src='/main.js')
